# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Jupyter notebooks (if any)
.ipynb_checkpoints/

# Logs
*.log